lib    = /home/oli/wgt/tpl
src    = /home/oli/wgt/text
dest   = /home/oli/wgt/output
ignore = \.git
suffix tt2=html
suffix txt=html
suffix md=html
suffix static=txt
depend *=header,footer,doctype
wrapper = wrapper.tt2
eval_perl
copy   = \.(css|gif|png|jpg|pdf)$ 
copy = robots\.txt
copy = sitemap\.xml
pre_chomp = 1
post_chomp = 1

