[% USE date(format = '%Y-%m-%d %H:%M:%S+01:00', locale = 'de_DE') %]
[% RELATIVE = 1 %]
[% DEFAULT
site.author      = 'Oliver Jakoubek'
page.title       = 'Web-Grundtechniken'
page.description = 'Demo-Website f&uuml;r die Veranstaltung Web-Grundtechniken'
page.keywords    = 'privat, pers&ouml;nlich, website, oliver, jakoubek, markdorf'
page.date        = date.format(template.modtime)
page.robots      = 'index,follow'
about.copyright = '2010'
%]
