[% INCLUDE header.tt2 %]
[% INCLUDE breadcrumb.tt2 %]
[%# INCLUDE pageheader.tt2 %]
[%# INCLUDE menu.tt2 %]
[% USE MultiMarkdown -%]
[% FILTER multimarkdown %]
[% content %]
[%- END %]
[% INCLUDE footer.tt2 %]
